/* styling */

header {
  font-family: 'Times New Roman', Times, serif;
}

.header_container {
  color: var(--light-green);
  background-color: var(--forest-green);
}

.name {
  text-align: center;
}

.sidebar {
  background-color: hsl(177, 45%, 92%);
  color: var(--black-font);
  white-space: nowrap;
  line-height: 1.6em;
}

.sidebar__title {
  color: var(--forest-green);
  border-bottom: 1px solid var(--forest-green);
}

.sidebar h4 {
  color: var(--forest-green);
  font-weight: 500;
}

.main_section h2, h4 {
  color: var(--forest-green);
}

/* layout */

.header_container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 3rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.name {
  flex-grow: 1;
}

.body {
  margin: 0 auto;
  display: flex;
  gap: 2em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.sidebar {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sidebar__title {
  width: 80%;
  padding: .5em 0;
}

@media print {

  pre {
    white-space: pre-wrap;
  }

  .header_container {
    width: 100%;
    padding: 1rem;
  }

  .container {
    width: 100%;
  }

  .sidebar {
    display: block;
    width: 40%;
    font-size: var(--aside-font-size);
    height: calc(var(--pages-size) - 9rem);
  }

  .sidebar h4 {
    font-size: var(--aside-font-size);
  }

  .sidebar > * {
    margin-bottom: 3rem;
  }

  .sidebar {
    padding: 2rem 1rem;
    white-space: pre-wrap;
  }

  .main_section {
    margin-right: 1rem;
  }
  
}