/* styling */

.employment {
    list-style-type: none;
    border-bottom: 1px solid var(--grey);
}

.employment h2,h3 {
    color: var(--forest-green);
}

/* layout */
.employment {
    padding: 2rem 0;
    list-style-type: none;
}

.subtitle {
    display: flex;
    justify-content: space-between;
}

.employment_info li {
    font-size: var(--bullet-font-size);
}


@media print {
    .employment {
        padding: 1rem 0;
        list-style-type: none;
    }

}