/** defaults, settings, vars **/

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --inter-font: 'Inter', sans-serif;

  --grey: rgb(199, 200, 204);
  --black-font: hsl(0, 0%, 0%);
  --forest-green: hsl(173,28%,39%);
  --light-green: hsl(177,45%,92%);
  
  --header-font-size: 4rem;
  --sub-header-font-size: 1.75rem;
  --sub-header-font-size-two: 1.25rem;
  --main-font-size: 1.25rem;
}

body {
  margin: 0;
  padding: 3rem 0;

  line-height: 1.3;
  font-family: var(--inter-font);
  font-size: var(--main-font-size);
}

h1 {
  margin: 0;
  font-size: var(--header-font-size);
  font-weight: 700;
}

h2 {
  margin: 0 0 1rem 0;
  font-size: var(--sub-header-font-size);
  font-weight: 700;
}

h3 {
  margin: 0;
  font-size: var(--main-font-size);
  font-weight: 700;
}

h4 {
  margin: 0;
  font-size: var(--main-font-size);
  font-weight: 500;
}

p, ul, li {
  margin: 0;
}

a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}



