.projects h4 {
    font-size: var(--sub-header-font-size-three);
}

.project__link {
    display: block;
}

.qr_code {
    display: block;
    width: 35%;
    max-width: 300px;
    margin: 0 auto;
}

@media print {
    .project__link {
        display: none;
    }

    .qr_code {
        margin: .5rem 0;
    }

}