/* styling */
.rating {
    border: solid 1px var(--forest-green);
    background-color: var(--forest-green);
    border-radius: 50%;
}

/* layout */
.skills {
    display: flex;
    flex-direction: column;
    gap: .75em;
}

.skill {
    display: grid;
    grid-template: auto / 1fr 1.25fr;
    column-gap: 1em;
}

.category {
    margin-bottom: .15em;
}

.ratings {
    display: flex;
    gap: .25rem;
    align-items: center;
}

.rating {
    width: .8rem;
    height: .8rem;
}
